# Ignora a pasta node_modules
node_modules/

# Ignora arquivos de ambiente
.env
.env.local
.env.development
.env.production

# Ignora logs
*.log
logs/

# Ignora arquivos de build (se aplicável)
dist/
build/
.next/

# Ignora arquivos temporários
*.tmp
*.temp

# Ignora arquivos de IDEs (opcional, dependendo do seu editor)
.vscode/
.idea/
